.send-button {
  width: 180px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  border: 2px solid white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

a .send-button {
  color: white;
}

.send-button:hover {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 1em){
  input{
    margin-bottom: 60px;
    border: 0;
    text-align: center;
    height: 50px;
    width: 80%;
  }

  .form-title{
    padding-bottom: 60px;
  }

  textarea {
    height: 300px;
    border: 0;
    width: 80%;
    height: 50px;
  }
}

@media only screen and (min-width: 38em){
  input{
    margin-bottom: 60px;
    border: 0;
    text-align: center;
    height: 50px;
    width: 80%;
  }

  .form-title{
    padding-bottom: 60px;
  }

  textarea {
    height: 300px;
    border: 0;
    width: 80%;
    height: 50px;
  }
}

@media only screen and (min-width: 60em){
  input{
    margin-bottom: 60px;
    border: 0;
    text-align: center;
    height: 50px;
    width: 50%;
  }

  .form-title{
    padding-bottom: 60px;
  }

  textarea {
    height: 300px;
    border: 0;
    width: 50%;
    height: 50px;
  }
}
